:root{
    background-color: #ecf5ff;
    font-size: 62.5%;
    --color--: #56a5eb;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #3333;
}

h1, h2, h3, h4{
    margin-bottom: 1rem;
}

h1{
    font-size: 5.4rem;
    color: var(--color--);
    margin-bottom: 5rem;
}

h1 > span{
    font-size: 2.4rem;
    font-weight: 500;
}

h3{
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.home-container__buttons{
    /* width: 100%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.home-container__buttons-btn{
    color: var(--color--);
    padding: 1rem 0;
    font-size: 1.8rem;
    text-align: center;
    width: 20rem;
    border: 0.15rem solid var(--color--);
    text-decoration: none;
    margin-bottom: 1rem;
    gap: 1rem;
    background-color: white;
}

.home-container__buttons-btn:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgba(85, 165, 215, 0.5);
    transform: translateY(-0.1rem);
    transition: 120ms;
}


